*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.cyan-label{
    background-color: #1CD1B0;
    height: 38px;
}

.cyan-label p{
    padding-top: 10px;
    padding-left: 10px;
}

.blue-label{
    background-color: #00669F;
    height: 101px;

}

.blue-label h1{
    padding-left: 10px;
    padding-top: 38px;
}

.main-cards-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    background-color: #F3F3F3;
    width: 300px;
    position: relative;
    margin: 10px;
}

.banner-card{
    position: relative;
}

.banner-card i{
    font-size: 30px;
    position: absolute;
    color: #CC2424;
    left: 10px;
    top: 10px;
}

.profile-img-card{
    border-radius: 50%;
}

.button-cont{
    margin: 30px 0 18px 0;
    text-align: center;
}

.card-body h2{
    margin-top: 70px;
    margin-bottom: 15px;
    text-align: center;
}

.card-body img{
    position: absolute;
    top: 130px;
    left: 90px;
}

.card-content{
    padding: 0 20px;
}

.card-button{
    color: white;
    background-color: #00669F;
    border: none;
    width: 128px;
    height: 50px;

}

footer section{
    background-color: #00669F;
    color: white;
    padding: 10px 0 10px 10px;

}

.main-container{
    background-color: #00669F;
    color: #FBFFFD;
    margin: 10px 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main-container article{
    display: flex;
    justify-content: space-between;
}

.input-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0.3rem;
}

.input-form textarea{
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.input-form textarea:disabled{
    background-color: #a8d6fe;
}

.input-item{
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.input-item:hover{
    box-shadow: 0px 0px 15px rgb(158, 185, 255);
}

.input-item:focus{
    background-color: #e3f2ff;
}

input[type="checkbox"]:checked{
    accent-color:rgb(255, 221, 0);
    box-shadow: 0px 0px 15px rgb(158, 185, 255);
}


input[type="radio"]:checked{
    box-shadow: 0px 0px 15px rgb(158, 185, 255);
    accent-color:rgb(255, 221, 0);
}

button{
    margin: 1rem auto 0;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: #1CD1B0;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}

button:hover{
    background-color: #85f6e1;
    box-shadow: 0px 0px 15px rgb(158, 185, 255);
}

button:active{
    background-color: #85f6e1;
    box-shadow: 0px 0px 15px rgb(158, 185, 255);
    background-color: #1CD1B0;
}



label::after{
    content: "*";
    color: rgb(255, 221, 0);
}

.selections{
    display: flex;
    flex-direction: column;
}

.button-add{
    text-align: end;
}

@media (min-width: 480px){
    .main-cards-container{
        flex-direction: row;
        justify-content: center;
        
    }
}

@media (min-width: 768px){
    .main-cards-container{
        flex-direction: row;
        justify-content: space-evenly;

    }
}